<div class="p-2">
    {{#with newsBlock}}
    <p class="display-6">{{title}}</p>
    <div class="row gx-3 gy-2">
        {{#each cards}}
        <div class="col-3">
            <div class="card text-bg-light h-100">
                <div class="card-header ">{{title}}
                    {{#if isTop}}<span class="badge text-bg-danger">Top</span>{{/if}}
                    {{#if idNew}}<span class="badge text-bg-success">New</span>{{/if}}
                </div>
                <div class="card-body">
                    <p class="card-text">{{description}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/with}}
</div>
<br />
<hr>
<div class="p-3">
    {{#with goodsBlock }}
    <div class="row ">
        <div class="col-12">
            <div class="nav nav-tabs">
                {{#each tabs}}
                <div class="nav-item">
                    {{#if isActive}} <a href="#" class="nav-link active">{{text}} </a>
                    {{else}}<a href="#" class="nav-link">{{text}} </a>
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </div>
        <br />

        <hr>
        <br />

        <div class="row">
            {{#each cards}}
            {{> shopcard}}
            {{/each}}
        </div>
    </div>
    {{/with}}


</div>
<br />
<hr>
<div class="p-2">
    {{#with subscribe}}
    <div class="card card text-bg-warning">
        <div class="col-12">
            <nav class="nav">
                <div class="col-6">
                    <h2>{{header}}</h2>
                    <p>{{description}}</p>
                </div>
                <div class="nav">
                    <div class=" col-12 mt-2 gy-5 ">
                        {{#each buttons}}
                        <button type="button " class="btn btn-primary"
                            onclick="window.location.href=`{{link}}`">{{text}}
                        </button>
                        {{/each}}
                    </div>

                </div>
            </nav>
        </div>
    </div>
    {{/with}}
</div>