<div>
    {{#with main}}
    <main>
        <section>
            {{> title data="Work history" big=true}}
            <div>
                <ul>
                    {{#each works}}
                    <li>
                        <div>
                            {{position}}
                        </div>
                        <br />
                        <div>
                            {{duration.from}} -
                            {{#if duration.to}}{{duration.to}}
                            {{else}}
                            досі працюємо
                            {{/if}}
                        </div>
                        <br />
                        <div>
                            <button type="button" class="btn btn-primary "
                                onclick="window.location.href=`{{company.url}}`">{{company.name}}</button>
                        </div>
                        <br />
                        <div>
                            Prodject ({{prodjectAmaunt}})
                        </div>
                        <br />
                        <div>
                            <ul>
                                {{#each prodjects}}
                                <li>
                                    <div>
                                        {{> link text=name href=url blank=true noLane=true}}
                                        <br />
                                        <br />
                                        <div>
                                            <a>{{about}}</a>
                                        </div>
                                        <br />
                                        <div>
                                            <div>
                                                <em> <strong>Project stacks</strong></em>
                                            </div>
                                            <br />
                                            <ul>
                                                {{#each stacks}}
                                                <li>
                                                    {{name}}
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                        <br />
                                        <div>
                                            <div>
                                                <em> <strong>Project awards</strong> ({{awardAmount}}) </em>
                                            </div>
                                            <br />
                                            <ul>
                                                {{#each awards}}
                                                <li>
                                                    {{name}}
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </div>

                                    </div>
                                </li>
                                {{/each}}
                            </ul>

                        </div>
                    </li>
                    {{/each}}
                </ul>

            </div>


        </section>
    </main>
    {{/with}}
</div>